body {
    font-family: "Helvetica Neue", Helvetica, Arial, Sans-Serif;
    overflow: hidden;
	position: relative;
    transition: all .2s ease;
	margin: 0px;
	padding: 0px;
	height: 100%;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}
body.dark{
    background: #073642;
    color: #2AA198;
}
body.light{
    background: #EEEEEE;
    color: #444444;
}
.container{
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
}
a{
	text-decoration: none;
}
body.dark a{
	color: #eee;
}
body.light a{
	color: #2AA198;
}
.counter-container, .no-angular{
	display: none;
    position: absolute;
    width: 100%;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    font-weight: bold;
}
.counter-container{
    font-size: 80px;
}
.graph-container{
	display: none;
}
.graph-container {
	position: relative;
}
.graph-container canvas{
	position: absolute;
	right: 0px;
	bottom: -200px;
}
.diff-container{
    font-size: 30px;
}
.diff-counter-offset.minus{
    color: #2AA198;
}
.diff-counter-offset.plus{
    color: #DC322F;
}

.configuration-toggle{
	position: absolute;
	top: 20px;
	right: 20px;
	z-index: 999;
 }
.configuration-toggle .configuration-icon svg {
	width: 100%;
	height: 100%;
}
body.dark .configuration-toggle .configuration-icon svg path{
	fill: #eee;
}
body.light .configuration-toggle .configuration-icon svg path{
	fill: #444;
}
.configuration-toggle .configuration-icon:hover svg path{
	fill: #2AA198 !important;
}
.configuration-toggle .configuration-icon {
	width: 35px;
	height: 35px;
	cursor: pointer;
}
.frame-options{
	position: absolute;
	top: 20px;
	left: 20px;
	z-index: 1;
	display: none; /* Hide it initially */
}
.configuration-container{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 998;
	background: #073642;
	padding-top: 80px;
	padding-left: 20px;
	opacity: 0.8;
	transition: z-index 0.5s, opacity 0.5s linear;
}
.hidden {
	opacity: 0;
	z-index: 0;
}
body.dark .configuration-container{
	background: #073642;
	color: #2AA198;
}
body.light .configuration-container{
	background: #EEEEEE;
	color: #444444;
}
.configuration-container .options-container{
	line-height: 1.5em;
	margin-bottom: 2em;
}
.configuration-container .option-title{
	width: 200px;
	display: inline-block;
	font-size: 1.5em;
}
.configuration-container .option-helper{
	width: 200px;
	font-size: 0.7em;
	line-height: 1em;
	margin-top: 10px;
}
.configuration-container .options-wrapper .option{
	display: inline-block;
	width: 50px;
	text-align: center;
	padding-left: 20px;
	font-weight: 100;
	cursor: pointer;
}
.configuration-container .options-wrapper .option.selected{
	font-weight: bolder;
}
.configuration-container .graph-options{
	margin-right: 10px;
}
/*
 * TOGGLE
 */
.tgl {
    display: none;
}
.tgl, .tgl:after, .tgl:before, .tgl *, .tgl *:after, .tgl *:before, .tgl + .tgl-btn {
    box-sizing: border-box;
}
.tgl::selection, .tgl:after::selection, .tgl:before::selection, .tgl *::selection, .tgl *:after::selection, .tgl *:before::selection, .tgl + .tgl-btn::selection {
    background: none;
}
.tgl + .tgl-btn {
    outline: 0;
    display: inline-block;
    width: 4em;
    height: 2em;
    position: relative;
    cursor: pointer;
}
.tgl + .tgl-btn:after, .tgl + .tgl-btn:before {
    position: relative;
    display: block;
    content: "";
    width: 50%;
    height: 100%;
}
.tgl + .tgl-btn:after {
    left: 0;
}
.tgl + .tgl-btn:before {
    display: none;
}
.tgl:checked + .tgl-btn:after {
    left: 50%;
}

.tgl-flat + .tgl-btn {
    padding: 2px;
    transition: all .2s ease;
    background: #EEEEEE;
    border: 4px solid #cccccc;
    border-radius: 2em;
}
.tgl-flat + .tgl-btn:after {
    transition: all .2s ease;
    background: #cccccc;
    content: "";
    border-radius: 1em;
}
.tgl-flat:checked + .tgl-btn {
    border: 4px solid #444;
}
.tgl-flat:checked + .tgl-btn:after {
    left: 50%;
    background: #444;
}

/*
 * GRAPH CSS ICON
 */
.graph-btn {
	display: inline-block;
	position: relative;
	transition: all .2s ease;
	cursor: pointer;
	width: 36px;
	height: 25px;
	overflow: hidden;
	margin: 0 4px 2px 0;
}
body.dark .graph-btn {
	color: #ddd;
}
body.light .graph-btn {
	color: #444;
}
body.dark .tgl-flat:checked + .graph-btn {
	color: #2AA198;
}
body.light .tgl-flat:checked + .graph-btn {
	color: #2AA198;
}
.graph-btn:after, .graph-btn:before {
	content: '';
	position: absolute;
}
.graph-btn::before {
	left: 0;
	bottom: 3px;
	border: 10px solid transparent;
	border-bottom-color: currentColor;
	box-shadow: 0 8px;
}
.graph-btn:after {
	left: 16px;
	bottom: 6px;
	border-width: 0 10px 14px;
	border-style: solid;
	border-color: transparent transparent currentColor;
	box-shadow: 0 8px;
}

/*
 * DROPDOWN
 */

.dropdown {
	vertical-align: top;
}
.dropdown select {
	color: #fff;
	font-size: inherit;
	padding: .5em;
	padding-right: 2.5em;
	border: 0;
	margin: 0;
	border-radius: 3px;
	text-indent: 0.01px;
	text-overflow: '';
	-webkit-appearance: button; /* hide default arrow in chrome OSX */
	outline: none;
}
body.dark .dropdown select {
	background: #2AA198;
}
body.light .dropdown select {
	background: #444;
}
.dropdown::before,
.dropdown::after {
	content: "";
	position: absolute;
	pointer-events: none;
}
.dropdown::after { /*  Custom dropdown arrow */
	content: "\25BC";
	height: 1em;
	font-size: .625em;
	line-height: 1;
	right: 1.2em;
	top: 50%;
	margin-top: -.5em;
}
.dropdown::before { /*  Custom dropdown arrow cover */
	width: 2em;
	right: 0;
	top: 0;
	bottom: 0;
	border-radius: 0 3px 3px 0;
}
.dropdown select[disabled] {
	color: rgba(0,0,0,.3);
}
.dropdown select[disabled]::after {
	color: rgba(0,0,0,.1);
}
.dropdown::after {
	color: white;
}